<div class="bg-indigo-100 text-indigo-950 h-450px">
  <div class="container mx-auto flex justify-center items-center h-full">
    <div class="grid grid-cols-2 gap-8">
      <!-- About Us Section -->
      <div>
        <h2 class="text font-semibold pt-2 pb-2">About Us</h2>
        <ul class="grid grid-rows-1">
          <li class="text-xs pb-1">Contact us</li>
          <li class="text-xs pb-1">About us</li>
          <li class="text-xs pb-1">Careers</li>
        </ul>
      </div>

      <!-- Investors Section -->
      <div>
        <h2 class="text font-semibold pt-2 pb-2">Investors</h2>
        <ul class="grid grid-rows-1">
          <li class="text-xs pb-1">Investor Relations</li>
          <li class="text-xs pb-1">Terms of Service</li>
          <li class="text-xs pb-1">Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</div>
