<nav class="">
  <div class="p-3 m-2 h-16 grid grid-cols-3 gap-4 bg-slate-100 shadow-md items-center ">
    <div class="font-semibold col-span-2 text-xl text-indigo-900">
      brite events<span class="text-black text-xl">.</span> 
    </div>
    <div class="grid grid-flow-col grid-cols-4 gap-1 col-span-1 justify-items-center items-center">
      <div class="text-indigo-950"><%= link_to "Home", events_path %></div>
      <div class="text-indigo-950"><%= button_to "Log Out", destroy_user_session_path, method: :delete %></div>
      <div class="text-indigo-950"><%= link_to "Log In", user_session_path %></div>
      <div class="text-white rounded-lg py-2 px-4 w-28 text-center bg-indigo-600"><%= link_to "Sign Up", new_user_registration_path %></div>
    </div>
  </div>
</nav>