<nav class="">
  <ul class="p-3 h-16 grid grid-cols-12 gap-4 bg-slate-100 shadow-md items-center ">
    <li class=" col-span-8 text-black font-semibold">eventbrite.</li>
    <li class="text-slate-600 justify-self-center">Home</li>
    <li class="text-slate-600 justify-self-center">Register</li>
    <li class="text-slate-600 justify-self-center">Log In</li>
    <li class="text-white justify-self-center rounded p-2 bg-indigo-600">SIGN UP</li>
  </ul>
</nav>